.top-page-header {
  width: 100vw;
  background-color: yellow;
}

.around-user {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

.user-nickname {
  padding: 10px;
  text-decoration: none;
}

.logout {
  padding: 10px;
  text-decoration: none;
}

.login {
  padding: 10px;
  text-decoration: none;
}

.sign-up {
  padding: 10px;
  text-decoration: none;
}