.top-page-header {
  width: 100vw;
  height: 10vh;
  background-color:#99CCFF;
  display: flex;
  justify-content: space-between;
}

.left-lists {
  align-items: center;
  padding-left: 10px;
}

.around-user {
  display: flex;
  list-style: none;
  align-items: center;
}

.user-nickname {
  padding: 10px;
  text-decoration: none;
}

.logout {
  padding: 10px;
  text-decoration: none;
}

.login {
  padding: 10px;
  text-decoration: none;
}

.sign-up {
  padding: 10px;
  text-decoration: none;
}