<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      依頼内容の確認
    </h1>
    <%# 依頼内容の表示 %>
    <div class='buy-guide-info'>
      
        <%= image_tag 'profile_icon.png' %>
      <div class='buy-guide-right-content'>
        <h2 class='buy-guide-text'>
          <%= @post.user.nickname %> 
        </h2>
        <div class='buy-guide-price'>
          <p class='guide-price-text'>¥<%= @post.user.nickname %>（１時間あたり）</p>
        </div>
      </div>
    </div>
    <%# /依頼内容の表示 %>
</div>