<%= render "shared/header" %>

<div class='post-contents'>
  <% @posts.each do |post| %>
    <li class='list'>
      <div class='post-img-content'>
        <%= image_tag post.image, class: "post-img" %>
      </div>
      <div class='post-info'>
        <h3 class='post-title'>
          <%= post.title %>
        </h3>
      </div>
    </li>
  <% end %>
</div>