<div class="contents row">
  <% @posts.each do |post| %>
    <div class="content_post">
      <p><%= post.text %></p>
      <span class="fish">
        <%= post.fish %>
      </span>
    </div>
  <% end %>
</div>