.title {
  text-align: center;
}

.post-img-content {
  text-align: center;
}

/* 釣果詳細（表部分） */
.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-post {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

/* 編集・削除ボタン */
.post-red-btn {
  background-color: #228B22;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
  text-decoration: none;
  margin: 0 auto;
}

.or-text {
  font-size: 20px;
  margin: 20px;
  padding-top: 15px;
}

.post-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
  text-decoration: none;
}

.show-btns {
  display: flex;
}